.content {
    .title {
        font-size: 4rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 4rem;
    }
    .work {
        max-width: var(--max-width);
        display: flex;
        margin: 0 auto;
        > * {
            flex: 1;
        }
        .work-content {
            min-height: 35rem;
            padding: 5rem 3rem;
            position: relative;
        }
        &__title,
        &__view {
            color: var(--text-color-seconday);
        }
        &__title {
            font-size: 3.8rem;
            font-weight: 800;
            text-transform: uppercase;
        }
        &__view {
            font-size: 1.8rem;
            display: flex;
            cursor: pointer;
            position: absolute;
            bottom: 8rem;
            right: 3rem;
        }
        &__icon {
            display: flex;
            flex-direction: column;
            align-content: center;
            height: 2.8rem;
            margin-left: 1rem;
            font-size: 2.5rem;
            position: relative;
        }
    }
}

@media screen and (min-width: 700px) {
    .content {
        padding-bottom: 5rem;
        .title {
            font-size: 5rem;
            font-weight: 800;
        }
    }
}