.content {
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9;
    overflow: hidden;
    overflow-y: auto;
    padding: 3rem;
    opacity: 0;
    pointer-events: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: var(--bg-modal);
    transition: all .5s;
    animation: hideSlide;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    &.show {
        opacity: 1;
        pointer-events: auto;
        animation: showSlide;
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        display: block;
    }
}
.closeButton {
    color: var(--gray-lightest);
    position: fixed;
    top: 1rem;
    z-index: 9;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
}
@keyframes showSlide {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes hideSlide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}