.content {
    position: relative;
    min-width: 5rem;
    height: 2.5rem;
    border-radius: 50em;
    overflow: hidden;
    background-color: var(--gray);
    .switch {
        $root: &;
        &__ball {
            top: 0;
            width: 2.5rem;
            height: 2.5rem;
            display: block;
            border-radius: 50%;
            background-color: var(--primary);
            transition: all .5s;
            position: absolute;
            transform: translateX(0);
        }
        &__label {
            width: 100%;
            height: 2.5rem;
            display: block;
            position: absolute;
            z-index: 1;
            cursor: pointer;
        }
        &__input {
            position: absolute;
            left: -9999;
            opacity: 0;
            visibility: hidden;
            &:checked ~ .switch__ball {
                transform: translateX(2.5rem);
                background-color: var(--secondary);
            }
        }
    }
}