// Main portfolio Colors
$primary: #5918DF;
$secondary: #1A1527;

// Gray scale
$gray: #D1D1D1;
$gray-light: #E0E0E0;
$gray-lightest: #F9F9F9;

// Alpha colors
$alpha-white: rgba(255, 255, 255, .9);
$alpha-black: rgba(26, 21, 39, .9);