// Font
@import url("https://use.typekit.net/ubo4oso.css");

@import './variables';
@import './theme';
@import './mixins';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    font-family: 'hero-new', Helvetica, sans-serif;
}
body {
    font-size: 1.4rem;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--bg-color);
}
ul li {
    list-style: none;
}