.content {
    padding: 7rem 4rem 0;
    .header {
        &__title {
            font-weight: 800;
            color: var(--primary);
            font-size: 5rem;
            animation: titleAnimation;
            animation-duration: .5s;
            animation-fill-mode: backwards;
        }
        &__subtitle {
            font-weight: 100;
            display: block;
            font-size: 4rem;
            line-height: 4.5rem;
        }
    }
    .main {
        &__paragraph {
            font-size: 2rem;
            font-weight: 600;
            margin: 1.5rem 0 3rem;
        }
    }
}

@keyframes titleAnimation {
    from {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 700px) {
    .container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 8rem);
        .content {
            margin: 0 auto;
            padding-top: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            position: absolute;
            min-width: 620px;
            .header {
                &__title {
                    font-size: 9.5rem;
                }
                &__subtitle {
                    font-size: 8rem;
                    line-height: 7.5rem;
                }
            }
            .main {
                &__paragraph {
                    max-width: 30rem;
                    top: 5rem;
                    right: 3rem;
                    // font-size: 1.8rem;
                    position: absolute;
                }
            }
        }
    }
}