.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    max-width: 5rem;
    .bar-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        &__line {
            width: 3.5rem;
            height: .6rem;
            display: block;
            margin-bottom: .4rem;
            background-color: var(--seconday-button);
        }
        &--line-middle {
            position: relative;
            right: .5rem;
        }
    }
    .menu {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        z-index: 999;
        align-items: center;
        position: fixed;
        flex-direction: column;
        visibility: hidden;
        overflow-y: auto;
        padding: 5rem 0 2rem;
        background-color: var(--bg-modal);
        &__close {
            cursor: pointer;
            font-size: 5rem;
            position: absolute;
            top: 1rem;
            right: 2.5rem;
        }
        .menuList {
            margin-top: 3rem;
        }
        .navContent {
            ul:last-child {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex: 1 100%;
            }
        }
    }
    .showMenu {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (min-width: 700px) {
    .content {
        .menu {
            .menuList {
                margin-top: 0;
            }
            .navContent {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}